body {
    font-family: Arial, Helvetica, sans-serif;
}


.subscribe-button {
    border: none;
    padding: 1.1vw 1.5vw;
    border-radius: 50px;
    font-weight: bold;
    background-color: black;
    color: white;
    cursor: pointer;
    margin: 2vw;
}

.is-subscribed {
    background-color: rgb(240,240,240);
    color: black;
}

.cost-input {
    font-size: 3vw;
    padding: .8vw;
}

.calculate-button {
    background-color: green;
    color: white;
    border: none;
    font-size: 3vw;
    padding: 1.1vw 1.5vw;
    cursor: pointer;
}